{{!-- BEGIN-SNIPPET nypr-card.hbs --}}
{{#media-object as |mo|}}

  {{#mo.media}}
    <img src={{thumbnail}} alt={{title}} >
  {{/mo.media}}

  {{#mo.object}}
    <h3>{{title}}</h3>

    <p>{{body}}</p>

    {{#atoms/-button}}
      {{buttonText}}
    {{/atoms/-button}}
  {{/mo.object}}

{{/media-object}}
{{!-- END-SNIPPET --}}
